<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487625350249-204sqg7ok9dpgvn6fsh1k4ghkdcf8kqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487625350249-204sqg7ok9dpgvn6fsh1k4ghkdcf8kqj</string>
	<key>API_KEY</key>
	<string>AIzaSyAPdtkkb1m9_vsD3OgN3GiYXS2p9ddjvCM</string>
	<key>GCM_SENDER_ID</key>
	<string>487625350249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GroceryApp</string>
	<key>PROJECT_ID</key>
	<string>groceryapp-13240</string>
	<key>STORAGE_BUCKET</key>
	<string>groceryapp-13240.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487625350249:ios:c9f5287b1292358e0596f8</string>
</dict>
</plist>